* {
  margin: 0;
  padding: 0;
  font-family: "Orbitron", sans-serif;
}

/* NAVBAR */

#main {
  background: linear-gradient(
      180deg,
      rgba(26, 46, 53, 0.87) 0%,
      rgba(169, 208, 205, 0.82) 100%
    ),
    url("../img/png-fondo.jpeg");
  background-size: cover;
}
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1a2e35;
  padding: 1rem 0rem 1rem 0rem;
  width: 100%;
  position: fixed;
  font-weight: 100;
}

#container_nav {
  display: flex;
  align-items: center;
}

#icono-logo {
  width: 2rem;
  margin-left: 2rem;
}

#container_nav span {
  color: white;
  margin-left: 15px;
}

#ul_navbar {
  display: flex;
  align-items: center;
}

#ul_navbar a {
  color: white;
  margin-right: 25px;
}

#icono-span {
  display: flex;
  align-items: center;
}

.icono-user {
  margin-right: 7px;
}

#navbar {
  display: flex;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* HERO */

/* FOOTER */
.footer {
  position: relative;
  z-index: 20;
  color: white;
}

.footer-content {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  background-color: #1a2e35;
  padding: 2rem 2rem;
}

#input-correo {
  width: 15rem;
}

.column2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
  margin-top: 1.5rem;
}
.column3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
  margin-top: 1.5rem;
}

.column1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 1rem;
}

.logo-footer {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2px;
  grid-column: span 2;
}

.logo-footer img {
  width: 28px;
}

.logo p {
  font-size: 1.5rem;
}

.container-social p {
  display: flex;
  margin-top: 0.5rem;
}

.social-icons {
  gap: 2rem;
}

.social-icons img {
  width: 26px;
  margin-right: 1rem;
}

.social-newsletter {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 4px;
  grid-column: span 2;
  padding-right: 2rem;
}

.social-newsletter p {
  text-align: center;
}

.column2 .links,
.column2 .office,
.column2 .info {
  padding: 10px;
}

#link {
  font-size: 10px;
  font-weight: 100;
  padding-top: 4px;
}

.column2 .subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.column2 .subscribe input {
  border-radius: 1rem;
  padding: 5px 10px;
  width: 100%;
  color: gray;
  font-size: 0.75rem;
}

.column2 .subscribe button {
  padding: 1px 8px;
  background-color: #a9d0cd;
  color: gray;
  border-radius: 1rem;
}

.column3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
}

.column3 div {
  display: flex;
  align-items: center;
  gap: 2px;
}

.column3 img {
  width: 4px;
}

.content-comunicate {
  display: flex;
  justify-content: center;
}

.privacy {
  display: flex;
  justify-content: center;
  background-color: #c1bfbf;
  color: black;
}

.privacy h3 {
  font-size: 0.75rem;
  padding: 6px;
}

#social {
  width: 20px;
  margin-right: 10px;
}

/* CARD */

main {
  padding: 10rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main header {
  margin-bottom: 1rem;
  color: white;
  font-weight: 200;
}

#card {
  width: 90%;
  padding: 1rem 2rem;
  background: #2d2f30;
  color: white;
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
}

#content-img {
  width: 35rem;
  height: 10rem;
  background-color: rgb(139, 130, 148);
}

.content-title {
  width: 100%;
  margin: 2rem 0rem;
}

.content-title h2 {
  color: white;
}

#content-text {
  padding: 1rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#content-text h3 {
  margin-bottom: 1rem;
  font-weight: 100;
}

#content-button {
  width: 30%;
  display: flex;
  align-items: center;
}

#content-button button {
  width: 50%;
  display: flex;
  border-radius: 0.5rem;
  height: fit-content;
  padding: 0.5rem 1rem;
  color: white;
  background-color: #1a2e35;
}

#button1 {
  margin-right: 0.5rem;
}
